{% load static %}
{% if contact.contact_icon %}
{% with icon_path="SearchTracker/images/icons/"|add:contact.contact_icon.icon_file|add:".png" %}
<img id="contact-img-{{ contact.pk }}" class="{{ img_class }}" src="{% static icon_path %}" alt="Icon for {{ contact.contact_icon.icon_name }}">
{% endwith %}
{% else %}
{% if contact.sex == "male" %}
<img class="{{ img_class }}" src="{% static 'SearchTracker/images/icons/worker-male.png' %}" alt="Icon for a male worker" />
{% else %}
<img class="{{ img_class }}" src="{% static 'SearchTracker/images/icons/worker-female.png' %}" alt="Icon for a male worker" />
{% endif %}
{% endif %}