{% load bootstrap_icons %}
<div class="d-flex flex-column flex-shrink-0 p-3 sidebar col-4 sidebar-fixed">
  <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto" id="logo" href="{% url 'SearchTracker:dashboard' %}">
    {% include "SearchTracker/components/EmPath.html" %}
    <p id="p-logo">EmPath - Turning Drones into Engineers</p>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item mb-2">
      <a href="/" class="nav-link">
        {% bs_icon "house-gear" %}
        Home / Dashboard
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="" class="nav-link">
        {% bs_icon "file-ruled" %}
        Applications
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link" href="/">
        {% bs_icon "filetype-pdf" %}
        Documents
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="/" class="nav-link">
        {% bs_icon "person-badge" %}
        Contacts
      </a>
    </li>
  </ul>
</div>
<div class="b-example-divider"></div>