.intro {
  background-color: var(--background-color-lighter);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.intro p {
  font-size: 24px;
}

#svg-arrow {
  width: 5rem;
}

#svg-arrow path {
  fill: var(--color);
}
