.toggle-container {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 15px;
}

.segmented-control {
  position: relative;
  display: inline-flex;
  background-color: #2c2f33;
  border-radius: 40px;
  padding: 4px;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}

.segmented-option {
  position: relative;
  z-index: 2;
  padding: 8px 16px;
  text-align: center;
  transition: color 0.2 ease;
  cursor: pointer;
  color: #b0b3b8;
  width: 200px;
}

.segmented-option.active {
  color: #ffffff;
}

.segmented-control:nth-child(3) {
  padding-right: 200px;
}

/* Pill shaped */
.segmented-slider {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(50% + 12px);
  height: calc(100% - 8px);
  background-color: #2196f3;
  border-radius: 32px;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

#table-toggle {
  visibility: collapse;
}

#table-toggle:checked ~ .segmented-slider {
  transform: translateX(calc(100% - 32.5px));
}

.toggle-label {
  font-weight: bold;
}

.table-container {
  margin-top: 20px;
}

.table-container-hidden {
  display: none;
}
