.table-dark th {
  color: #87acd5; /* your button‑bright color */
  font-weight: var(--fw-semibold);
  border-bottom: 1px solid var(--border-color);
}

.table-dark {
  --bs-table-bg: var(--background-color-lighter);
  --bs-table-color: var(--color);
  --bs-table-border-color: var(--border-color);
}
